@use 'variables';
// styles for radio buttons on day choose in daily summary

#choose-day {
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;

    .single-day-date {
        height: 100%;
        width: fit-content;
        cursor: pointer;
        padding: 0.2rem 0.5rem;
        color: variables.$clr-darkest;
        font-size: variables.$fs-400;
        border: 2px solid variables.$clr-darkest;
        border-radius: 5rem;

        &[aria-pressed=true] {
            background-color: variables.$clr-darkest;
            color: variables.$clr-light;
        }


    }


}