@use 'variables';
@use 'utility-classes';

#main-food {
    width: clamp(15rem, 80%, 80rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media (max-width: 40rem) {
        #diary-table {
            width: 95%;
            overflow-x: scroll;
            padding-bottom: 1rem;
        }
}
}

