@use 'variables';
@use 'utility-classes';

#main-food {
    width: clamp(15rem, 80%, 80rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;

    #diary-table {
        overflow-x: scroll;
    }
}

