@use 'variables';
@use 'utility-classes';

#main-motivation {
    width: clamp(15rem, 50%, 80rem);

    @media (max-width: variables.$screen-small) {
        width: 80%;
        margin-bottom: 3rem;
    }

    #motivation-quotes {
        position: relative;
        border-block: 1px solid variables.$clr-less-dark;
        margin: auto;
        margin-top: 3rem;

        #quote {
            font-size: variables.$fs-400;
            width: 85%;
        }

        #author {
            margin-top: 1rem;
            text-align: right;
            color: variables.$clr-contrast;
            font-size: variables.$fs-500;
        }

        #refresh {

            width: fit-content;
            height: fit-content;
            border: none;
            background-color: transparent;
            top: 1rem;
            right: 1rem;
            position: absolute;
            color: variables.$clr-contrast;

            .svg-inline--fa.fa-w-16 {
                width: 1.5rem;
                height: 1.5rem;
            }
        }
    }

    #benefits {
        margin: auto;

        ul {
            font-size: variables.$fs-400;
            list-style: disc;

            ::marker {
                color: variables.$clr-contrast;
            }
        }

    }
}