@use 'variables';
@use 'utility-classes';

#main-home {
    width: clamp(15rem, 80%, 80rem);
    min-height: 40rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    h2 {
        margin-top: 5rem;
    }

    #choose-day {
      border: none;
    }
    
    #daily-summary {
      width: clamp(1rem, 70%, 35rem);
  
      #goal-kcal {
        border-right: 1px solid grey;
      }
    }
  
    #daily-summary > *:first-child {
      margin-top: 3rem;
      color:variables.$clr-dark;
      font-size: variables.$fs-500;
      
      span {
        font-size: variables.$fs-800;
        color: variables.$clr-contrast;
      }
    }
  
    #daily-summary > *:nth-child(1n + 2) {
      display: inline-flex;
      flex-direction: column;
      padding-right: 1rem;
      font-size: variables.$fs-300;
      color: variables.$clr-dark;
  
      span {
        font-size: variables.$fs-600;
        color: variables.$clr-darkest;
      }
    }
  
    #daily-summary > *:last-child {
      display: block;
  
    }
  }
  
  #pbar-container {
    width: 100%;
    position: relative;
    display: block;
    background-color: variables.$clr-less-dark;
    border-radius: 5rem;
    overflow: hidden;
    height: 1.25rem;
    margin-block: 0.875rem;
  }
  
  #bar-progress {
    width: 50%;
    height: 100%;
    background-color: variables.$clr-contrast;
  }