@use 'variables';
@use 'utility-classes';

#main-home {
    width: clamp(15rem, 80%, 80rem);
    min-height: 40rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
  
    h2 {
        margin-top: 3rem;
    }

    #choose-day {
      border: none;
    }
  
    #daily-summary {

      width: clamp(1rem, 70%, 35rem);

      div:first-child {
        margin-top: 2rem;
        color:variables.$clr-dark;
        font-size: variables.$fs-500;    
            
        span {
          font-size: variables.$fs-800;
        }

        span:first-child {
          color: variables.$clr-contrast;
        }

        span:nth-child(3) {
          color: variables.$clr-darkest;
        }
      }

      div:nth-child(1n + 3) {
        display: inline-flex;
        flex-direction: column;
        padding-right: 1rem;
        font-size: variables.$fs-300;
        color: variables.$clr-dark;

        span {
          font-size: variables.$fs-600;
          color: variables.$clr-darkest;
        }
      }

      #pbar-container {
        width: 100%;
        position: relative;
        display: flex;
        background-color: variables.$clr-less-dark;
        border-radius: 5rem;
        overflow: hidden;
        height: 1.25rem;
        margin-block: 0.875rem;
        
        #bar-progress,
        #bar-progress-crossed-limit {
          z-index: 1;
          position: absolute;
          left: 0;
          top: 0;
          width: 0%;
          max-width: 100%;
          height: 100%;
          background-color: variables.$clr-contrast;
        }

        #bar-progress-crossed-limit {
          display: flex;
          z-index: 2;
          background-color: rgb(233, 75, 75);
        }
      }
    }
  }
  