@use 'variables';
@use 'utility-classes';

#main-food {
    width: clamp(15rem, 80%, 80rem);
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-top: 3rem;
    }

    form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        input[type=submit] {
            margin: 0;
            margin-left: 1rem;
            width: auto;
            padding-inline: 2rem;
        }
    }

    .empty-state-info {
        margin-top: 3rem;
        color: variables.$clr-contrast;
        font-weight: 900;

        .svg-inline--fa {
            // outline: 2px solid red;
            padding: 2rem;
            margin:auto;
            flex-grow: 1;
            width: 60%;
            height: 100%;
          }
    }

    #diary-table {
        margin: 2rem;
        width: 60%;
        background-color: variables.$clr-very-light;
        border: 1px solid variables.$clr-less-dark;
        text-align: center;
        
        table {
            width: 100%;
            
            td {
                width: 16.25%;
            }

            td:first-child{
                width: 35%;
            }
                
            td {
                border: 1px solid variables.$clr-less-dark;
            }
            
            thead {
                background-color: variables.$clr-darkest;
                color: variables.$clr-very-light;
                font-weight: 900;   
            }

            tbody{

                tr:last-child {
                    td:first-child{
                        background-color: variables.$clr-darkest;
                        color: variables.$clr-very-light;
                    }
                }
            }

        }
    }
}

