@use "./variables";

.nav-desktop {
    width: clamp(15rem, 80%, 80rem);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-inline: auto;
    border-bottom: 1px solid variables.$clr-dark;
    
    #nav-tab-area {
      width: 100%;
      margin-inline: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
  
      button {
        width: 100%;
        height: fit-content;
        border: none;
        background-color: transparent;
        color: variables.$clr-darkest;
        font-size: variables.$fs-400;
        font-weight: 700;
        text-align: center;
        display: block;
        padding-block: 1rem;
    
        &[aria-selected=true] {
          background-color: variables.$clr-darkest;
          color: variables.$clr-light;
        }
  
        &:hover {
          background-color: variables.$clr-less-dark;
          color: variables.$clr-darkest;
        }
      }
  
    }
  
  }
  
  
  #fit-you-logo {
    cursor: pointer;
  }
  