@use 'css-reset';
@use "variables";
@use "utility-classes";
@use "day-choose";
@use "main-home";
@use "main-settings";

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

/* ---------- */
/* COMPONENTS */
/* ---------- */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  width: 100vw;
  min-height: 100vh;
  background-color: 1px bold variables.$clr-light;
}

.nav-desktop {
  width: clamp(15rem, 80%, 80rem);
  display: flex;
  align-items: center;
  margin-inline: auto;
  border-bottom: 1px solid variables.$clr-dark;

  ul {
    margin: auto;
    width: clamp(15.625rem, 60%, 64rem);
    height: fit-content;
    display: flex;
    padding: 0;

    li {
      width: 100%;
      height: fit-content;

      a {
        text-align: center;
        display: block;
        text-decoration: none;
        padding-block: 1rem;

        &:hover {
          background-color: variables.$clr-contrast;
          color: variables.$clr-light;
          transition: 0.3s;
        }
      }
    }
  }
}

#user-profile {
  display: flex; 
  white-space: nowrap;
  color: variables.$clr-darkest;
  font-weight: 900;

  a {
    text-decoration: none;
    color: variables.$clr-contrast;
    margin-right: 0.5rem;
  }
}
