@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: monospace;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1 {
  line-height: 1;
}

button {
  cursor: pointer;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Visually hides content but screen reader can read it */
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* colors */
/* font sizes */
/* font-families */
/* screen-sizes */
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-contrast {
  color: #41a046;
}

.text-dark {
  color: #29285f;
}

.text-light {
  color: #f8f7f7;
}

.fs-900 {
  font-size: 8rem;
}

.fs-800 {
  font-size: 5.5rem;
}

.fs-700 {
  font-size: 4rem;
}

.fs-600 {
  font-size: 3rem;
}

.fs-500 {
  font-size: 2rem;
}

.fs-400 {
  font-size: 1.5rem;
}

.fs-300 {
  font-size: 1.25rem;
}

.fs-200 {
  font-size: 0.875rem;
}

.ff-headers {
  font-family: "Dongle", sans-serif;
}

#choose-day {
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
@media (max-width: 50rem) {
  #choose-day {
    margin: 0;
    margin-top: 1rem;
    flex-wrap: wrap;
  }
}
#choose-day .single-day-date {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  color: #29285f;
  font-size: 1.5rem;
  border: 2px solid #29285f;
  border-radius: 5rem;
}
#choose-day .single-day-date[aria-selected=true] {
  background-color: #29285f;
  color: #f8f7f7;
}

#main-home {
  width: clamp(15rem, 80%, 80rem);
  min-height: 40rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
@media (max-width: 50rem) {
  #main-home {
    width: 90%;
    margin-bottom: 3rem;
  }
}
#main-home #choose-day {
  border: none;
}
#main-home #summary-container {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
@media (max-width: 50rem) {
  #main-home #summary-container {
    flex-direction: column;
    gap: 4rem;
    margin-top: 3rem;
  }
}
#main-home #summary-container #daily-summary {
  width: clamp(1rem, 70%, 35rem);
}
@media (max-width: 50rem) {
  #main-home #summary-container #daily-summary {
    width: clamp(1rem, 90%, 35rem);
  }
}
#main-home #summary-container #daily-summary div:first-child {
  color: #818181;
  font-size: 2rem;
}
@media (max-width: 50rem) {
  #main-home #summary-container #daily-summary div:first-child {
    width: clamp(1rem, 90%, 35rem);
    font-size: 1.5rem;
  }
}
#main-home #summary-container #daily-summary div:first-child span {
  font-size: 5.5rem;
}
@media (max-width: 50rem) {
  #main-home #summary-container #daily-summary div:first-child span {
    font-size: 4rem;
  }
}
#main-home #summary-container #daily-summary div:first-child span:first-child {
  color: #41a046;
}
#main-home #summary-container #daily-summary div:first-child span:nth-child(3) {
  color: #29285f;
}
#main-home #summary-container #daily-summary div:nth-child(1n+3) {
  display: inline-flex;
  flex-direction: column;
  padding-right: 1rem;
  font-size: 1.25rem;
  color: #818181;
}
@media (max-width: 50rem) {
  #main-home #summary-container #daily-summary div:nth-child(1n+3) {
    font-size: 0.875rem;
  }
}
#main-home #summary-container #daily-summary div:nth-child(1n+3) span {
  font-size: 3rem;
  color: #29285f;
}
@media (max-width: 50rem) {
  #main-home #summary-container #daily-summary div:nth-child(1n+3) span {
    font-size: 2rem;
  }
}
#main-home #summary-container #daily-summary #pbar-container {
  width: 80%;
  position: relative;
  display: flex;
  background-color: #c8c8c8;
  border-radius: 5rem;
  overflow: hidden;
  height: 1.25rem;
  margin-block: 0.875rem;
}
#main-home #summary-container #daily-summary #pbar-container #bar-progress,
#main-home #summary-container #daily-summary #pbar-container #bar-progress-crossed-limit {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  max-width: 100%;
  height: 100%;
  background-color: #41a046;
}
#main-home #summary-container #daily-summary #pbar-container #bar-progress-crossed-limit {
  display: flex;
  z-index: 2;
  background-color: #e94b4b;
}
#main-home #history-chart {
  width: 50%;
}
@media (max-width: 50rem) {
  #main-home #history-chart {
    width: clamp(20rem, 90%, 40rem);
  }
}

#main-measures {
  width: clamp(15rem, 80%, 80rem);
}
@media (max-width: 50rem) {
  #main-measures {
    width: 90%;
    margin-bottom: 3rem;
  }
}
#main-measures #section-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-block: 3rem;
  justify-content: space-around;
  align-items: stretch;
}
@media (max-width: 50rem) {
  #main-measures #section-container {
    flex-direction: column;
    gap: 3rem;
    margin-block: 1rem;
  }
}
#main-measures #section-container #user-params-container {
  width: 100%;
}
#main-measures #section-container #user-params-container form {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
@media (max-width: 50rem) {
  #main-measures #section-container #user-params-container form {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
  }
}
#main-measures #section-container #user-params-container form label {
  color: #29285f;
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
  padding-inline: 1rem;
}
#main-measures #section-container #params-summary-container {
  width: 100%;
}
#main-measures #section-container #params-summary-container div {
  padding: 3em;
  border-radius: 3rem;
  display: grid;
  place-items: center;
  background-color: #29285f;
  height: 100%;
}
#main-measures #section-container #params-summary-container div p {
  font-family: "Dongle", sans-serif;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  color: #f8f7f7;
  line-height: 1.1;
  font-weight: 900;
}
#main-measures #section-container #params-summary-container div span {
  font-family: inherit;
  color: #41a046;
}

#main-food {
  width: clamp(15rem, 80%, 80rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-food form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-motivation {
  width: clamp(15rem, 50%, 80rem);
}
@media (max-width: 50rem) {
  #main-motivation {
    width: 80%;
    margin-bottom: 3rem;
  }
}
#main-motivation #motivation-quotes {
  position: relative;
  border-block: 1px solid #c8c8c8;
  margin: auto;
  margin-top: 3rem;
}
#main-motivation #motivation-quotes #quote {
  font-size: 1.5rem;
  width: 85%;
}
#main-motivation #motivation-quotes #author {
  margin-top: 1rem;
  text-align: right;
  color: #41a046;
  font-size: 2rem;
}
#main-motivation #motivation-quotes #refresh {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  top: 1rem;
  right: 1rem;
  position: absolute;
  color: #41a046;
}
#main-motivation #motivation-quotes #refresh .svg-inline--fa.fa-w-16 {
  width: 1.5rem;
  height: 1.5rem;
}
#main-motivation #benefits {
  margin: auto;
}
#main-motivation #benefits ul {
  font-size: 1.5rem;
  list-style: disc;
}
#main-motivation #benefits ul ::marker {
  color: #41a046;
}

.toggle-theme-switch {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.toggle-theme-switch .check {
  cursor: pointer;
  position: relative;
  display: block;
  width: 4rem;
  height: 2rem;
  border-radius: 5rem;
  background-color: #29285f;
  border: 1px solid #29285f;
}
.toggle-theme-switch .check::before {
  background-image: url("../img/sun-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  content: "";
  position: absolute;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: white;
  transform: translate(0, -50%);
  left: 0%;
  top: 50%;
}
.toggle-theme-switch[aria-checked=true] .check::before {
  background-image: url("../img/moon-solid.svg");
  content: "";
  transform: translate(-100%, -50%);
  background-color: white;
  left: 100%;
}

#diary-table {
  margin: 2rem;
  text-align: center;
  width: 100%;
}
#diary-table table {
  margin: auto;
  width: clamp(15rem, 95%, 55rem);
  border-collapse: collapse;
}
#diary-table table thead {
  background-color: #29285f;
  color: white;
  font-weight: 900;
}
#diary-table table thead tr td:first-child {
  width: 15rem;
}
#diary-table table tbody tr td {
  border-bottom: 1px solid #c8c8c8;
  min-width: 5rem;
  flex: 1;
}
#diary-table table tbody tr td:nth-child(7) {
  min-width: 3rem;
  border: none;
}
#diary-table table tbody tr td:nth-child(7) button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
#diary-table table tbody tr:last-child {
  border: none;
  font-weight: bold;
}
#diary-table table tbody tr:last-child td:first-child {
  background-color: #29285f;
  color: white;
}

.nav-desktop {
  width: clamp(60rem, 80%, 80rem);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-inline: auto;
  border-bottom: 1px solid #818181;
}
@media (max-width: 50rem) {
  .nav-desktop {
    display: none;
  }
}

.nav-mobile {
  width: 100%;
  padding-inline: 2rem;
  display: none;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  margin-inline: auto;
  border-bottom: 1px solid #818181;
}
@media (max-width: 50rem) {
  .nav-mobile {
    display: flex;
  }
}
.nav-mobile h1 {
  margin-right: auto;
}
.nav-mobile .svg-inline--fa.fa-w-14 {
  width: 1.5rem;
  height: 2rem;
  color: #29285f;
}
.nav-mobile .side-menu-open {
  border: none;
  background-color: transparent;
}

.fit-you-logo {
  cursor: pointer;
}

.nav-tab-area {
  width: 100%;
  margin-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 50rem) {
  .nav-tab-area {
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 80%;
    flex-direction: column;
  }
}
.nav-tab-area button {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  background-color: transparent;
  color: #29285f;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  display: block;
  padding-block: 1rem;
}
.nav-tab-area button[aria-selected=true] {
  background-color: #29285f;
  color: #f8f7f7;
}
.nav-tab-area button:hover {
  background-color: #c8c8c8;
  color: #29285f;
}

.modal-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.modal-wrapper .modal-background {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.modal-wrapper .modal-section {
  position: absolute;
  width: clamp(15rem, 30%, 35rem);
  height: 40rem;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 2rem;
  padding-bottom: 2rem;
}
.modal-wrapper .modal-section #modal-close-container {
  width: 100%;
  margin: 0;
  margin-top: 1rem;
  position: relative;
  display: block;
  text-align: right;
}
.modal-wrapper .modal-section #modal-close-container button {
  background: transparent;
  border: none;
}
.modal-wrapper .modal-section #modal-close-container button .svg-inline--fa.fa-w-16 {
  width: 2rem;
  color: #29285f;
  height: 100%;
}
.modal-wrapper .modal-section form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-wrapper .modal-section #matched-food {
  margin-block: 1rem;
  width: 100%;
  flex-grow: 1;
  display: none;
  overflow-y: scroll;
}
.modal-wrapper .modal-section #matched-food #food-options {
  width: 100%;
  max-height: 100;
}
.modal-wrapper .modal-section #matched-food #food-options button {
  display: block;
  width: 100%;
  text-align: left;
  background-color: transparent;
  color: #29285f;
  border: none;
  border-bottom: 1px solid #c8c8c8;
  cursor: pointer;
}
.modal-wrapper .modal-section #matched-food #food-options button:hover {
  background-color: #c8c8c8;
  color: #29285f;
  padding-left: 1rem;
}
.modal-wrapper .modal-section #matched-food #food-options button[aria-selected=true] {
  background-color: #29285f;
  color: white;
  padding-left: 0.5rem;
}
.modal-wrapper .modal-section #food-details {
  display: flex;
  align-items: center;
  width: 100%;
  display: none;
}
.modal-wrapper .modal-section #food-details #food-nutrition {
  width: 100%;
}
.modal-wrapper .modal-section #food-details #food-nutrition tr td:first-child {
  text-align: left;
}
.modal-wrapper .modal-section #food-details #add-food-form {
  width: 100%;
  height: 100%;
  justify-content: center;
}
.modal-wrapper .modal-section #food-details #add-food-form input {
  width: clamp(10rem, 70%, 14rem);
  margin: 0;
  margin-bottom: 1rem;
}
.modal-wrapper .modal-section #food-details #add-food-form p {
  font-size: 1.5rem;
  margin: 1rem;
}
.modal-wrapper .modal-section #food-details #add-food-form p span {
  margin-right: 0.2rem;
}
.modal-wrapper .modal-section #food-details #add-food-form #finish-adding:disabled {
  opacity: 0.5;
}

.side-menu {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: initial;
  left: -100%;
}
.side-menu .side-menu-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.side-menu .side-menu-content {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: -70%;
  width: 70%;
  height: 100vh;
  transition: 0.3s;
  background-color: #f8f7f7;
}
.side-menu .side-menu-content .side-menu-close {
  display: block;
  margin-left: auto;
  right: 0;
  position: relative;
  margin-bottom: 1rem;
  border: none;
  background-color: transparent;
}
.side-menu .side-menu-content .side-menu-close .svg-inline--fa.fa-w-16 {
  color: #29285f;
  width: 3rem;
  height: 2rem;
}

*:focus-visible {
  outline: 4px double #41a046;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  width: 100vw;
  min-height: 100vh;
  background-color: #f8f7f7;
  color: #29285f;
}

/* ----------------- */
/* Global components */
/* ----------------- */
h2 {
  margin-top: 3rem;
  font-size: 4rem;
  font-family: "Dongle", sans-serif;
  color: #41a046;
  text-align: center;
}
@media (max-width: 50rem) {
  h2 {
    line-height: 1;
  }
}

h3 {
  font-size: 2rem;
}

input, .dropdown {
  color: #29285f;
  font-size: 1.25rem;
  width: clamp(10rem, 100%, 20rem);
  height: 3rem;
  border-radius: 50rem;
  border: 3px solid #29285f;
  text-align: right;
  padding-right: 1rem;
  background-color: white;
}

input[type=submit] {
  margin-top: 1rem;
  text-align: center;
  background-color: #29285f;
  border-color: #29285f;
  color: #f8f7f7;
  font-family: "Dongle", sans-serif;
  font-size: 2rem;
  cursor: pointer;
}

.dropdown select:hover {
  background-color: #41a046;
  color: #f8f7f7;
}

.empty-user-params-info {
  margin: auto;
  margin-top: 3rem;
  color: #41a046;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 50rem) {
  .empty-user-params-info {
    flex-direction: column;
    line-height: 1;
    margin-top: 1rem;
  }
}
.empty-user-params-info .svg-inline--fa {
  display: flex;
  margin-left: auto;
  width: 30%;
  height: 100%;
}
@media (max-width: 50rem) {
  .empty-user-params-info .svg-inline--fa {
    margin: auto;
    margin-bottom: 1rem;
  }
}
.empty-user-params-info div {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
@media (max-width: 50rem) {
  .empty-user-params-info div {
    width: 100%;
  }
}
.empty-user-params-info div p {
  width: 100%;
}

.empty-search-food-state-info {
  width: 100%;
  margin: auto;
  margin-top: 3rem;
  color: #41a046;
  font-weight: 900;
  display: block;
}
.empty-search-food-state-info .svg-inline--fa.fa-w-16 {
  margin: auto;
  display: flex;
  justify-content: center;
  width: 60%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e6e6e6;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #29285f;
}

.loader {
  display: none;
  margin-top: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.6rem solid #c8c8c8;
  border-top: 0.6rem solid #41a046;
  -webkit-animation: spin 0.6s linear infinite;
          animation: spin 0.6s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.dark-theme {
  filter: invert(0.95) hue-rotate(180deg);
}/*# sourceMappingURL=base.css.map */