@use 'css-reset';
@use "variables";
@use "utility-classes";
@use "day-choose";
@use "main-home";
@use "main-settings";
@use "main-food";
@use "main-motivation";
@use "toggleThemeSwitch";
@use 'diaryTable';
@use 'nav';
@use 'modal-food';
@use 'side-menu';

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

*:focus-visible {
  outline: 4px double variables.$clr-contrast;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  width: 100vw;
  min-height: 100vh;
  background-color: variables.$clr-light;
  color: variables.$clr-darkest;
}

/* ----------------- */
/* Global components */
/* ----------------- */

h2 {
  margin-top: 3rem;
  font-size: variables.$fs-700;
  font-family: variables.$ff-headers;
  color: variables.$clr-contrast;
  text-align: center;

  @media (max-width: 30rem) {
      line-height: 1;
  }
}

h3 {
  font-size: variables.$fs-500;
}

// inputs

input, .dropdown{
  color: variables.$clr-darkest;
  font-size: variables.$fs-300;
  width: 20rem;
  height: 3rem;
  border-radius: 50rem;
  border: 3px solid variables.$clr-darkest;
  text-align: right;
  padding-right: 1rem;
  background-color: variables.$clr-very-light;
}

input[type=submit] {
  margin-top: 1rem;
  text-align: center;
  background-color: variables.$clr-darkest;
  border-color: variables.$clr-darkest;
  color: variables.$clr-light;
  font-family: variables.$ff-headers;
  font-size: variables.$fs-500;
  cursor: pointer;
}

.dropdown select:hover{
  background-color: variables.$clr-contrast;
  color: variables.$clr-light;
}

// empty user params info

.empty-user-params-info {
  margin: auto;
  margin-top: 3rem;
  color: variables.$clr-contrast;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  // outline: 2px solid red;

  @media (max-width:30rem) {
    flex-direction: column;
    line-height: 1;
    margin-top: 1rem;

    p {
      font-size: variables.$fs-500;
      width: 100%;
    }

  }

  .svg-inline--fa {
    display: flex;
    margin-left:auto;
    width: 30%;
    height: 100%;

    @media (max-width:30rem) {
      margin: auto;
      margin-bottom: 1rem;
    }
  }

  div {
    margin:auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;

    p {
      width: 100%;
    }
  }
}

.empty-search-food-state-info {
  width: 100%;
  margin: auto;
  margin-top: 3rem;
  color: variables.$clr-contrast;
  font-weight: 900;
  display: block;
  
  .svg-inline--fa.fa-w-16 {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
  }

}

// Custom scrollbar

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(230,230,230); 
}

::-webkit-scrollbar-thumb {
  background: #aaa; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: variables.$clr-darkest; 
}

// loader spinner 

.loader {
  display: none;
  margin-top: 1rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.6rem solid variables.$clr-less-dark;
  border-top: 0.6rem solid variables.$clr-contrast;
  animation: spin 0.6s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

// dark theme

.dark-theme {
  filter: invert(0.95) hue-rotate(180deg);
}