@use 'css-reset';
@use "variables";
@use "utility-classes";
@use "day-choose";

@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

/* ---------- */
/* COMPONENTS */
/* ---------- */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  width: 100vw;
  min-height: 100vh;
  background-color: variables.$clr-light;
  gap: 1rem;
}

.nav-desktop {
  width: clamp(15rem, 80%, 80rem);
  display: flex;
  align-items: center;
  margin-inline: auto;
  border-bottom: 1px solid variables.$clr-dark;

  ul {
    margin: auto;
    width: clamp(15.625rem, 60%, 64rem);
    height: fit-content;
    display: flex;
    padding: 0;

    li {
      width: 100%;
      height: fit-content;

      a {
        text-align: center;
        display: block;
        text-decoration: none;
        padding-block: 1rem;

        &:hover {
          background-color: variables.$clr-darkest;
          color: variables.$clr-light;
          transition: 0.3s;
        }
      }
    }
  }
}

#user-profile {
  display: flex; 
  white-space: nowrap;
  color: variables.$clr-darkest;

  span {
    color: variables.$clr-contrast;
    margin-right: 0.5rem;
  }
}

#main-home {
  width: clamp(15rem, 80%, 80rem);
  min-height: 40rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 1rem;

  // Create another module for custome radio button
  #choose-day {
    border: none;
  }
  
  #daily-summary {
    width: clamp(1rem, 70%, 35rem);

    #goal-kcal {
      border-right: 1px solid grey;
    }
  }

  #daily-summary > *:first-child {
    margin-top: 2rem;
    color:variables.$clr-dark;
    font-size: variables.$fs-500;
    
    span {
      font-size: variables.$fs-700;
      color: variables.$clr-contrast;
    }
  }

  #daily-summary > *:nth-child(1n + 2) {
    display: inline-flex;
    flex-direction: column;
    padding-right: 1rem;
    font-size: variables.$fs-300;
    color: variables.$clr-dark;

    span {
      font-size: variables.$fs-600;
      color: variables.$clr-darkest;
    }
  }

  #daily-summary > *:last-child {
    display: block;

  }
}

#pbar-container {
  width: 100%;
  position: relative;
  display: block;
  background-color: variables.$clr-less-dark;
  border-radius: 5rem;
  overflow: hidden;
  height: 1.25rem;
  margin-block: 0.875rem;
}

#bar-progress {
  width: 50%;
  height: 100%;
  background-color: variables.$clr-contrast;
}
